
@{
    ViewData["Title"] = "AboutMe";
}

<div class="text-center">
    <h1>About Me</h1>
    <img class="img-fluid" id="Me" src="https://samb7201.github.io/PortfolioCSS/images/Me.PNG" height="250" width="300"/>
    <img class="img-fluid" id="Me" src="https://samb7201.github.io/PortfolioCSS/images/AM-2.jpg" height="250" width="300"/>

    <br/>
    <br/>

    <a>
        My name is Samuel Bowes, currently I am going to Pittsburgh Technical College for a Computer Programming Associates Degree.
        I enjoy going for rides in the mountains with my two dogs, and play games in my free time. I originaly started programming because
        I wanted to become a Game Developer. The reason I wanted to be a Game Dev is fairly simple I wanted to create something that others could enjoy
        like I enjoy when I play a game. I want people to play in a world I created or help create and get lost in it playing for hours and still having
        the time of their life.
    </a>
</div>

