@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>Welcome</h1>
    <h4>This Web Portfolio is a small display of my previous works during my time at Pittsburgh Technical College.
    Below are links to pages of three of my favorite projects and an about me page.</h4>
</div>
