
@{
    ViewData["Title"] = "Escape the Madman";
}

<style>
    a {
        font-size: 25px;
        color: whitesmoke;
    }

    button {
        background-color: dodgerblue;
        border-radius: 15px;
    }
</style>

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>Esape the Madman - HTML / JavaScript</h1>

    <div class="container-fluid">
        <img class="img-fluid" id="P1-2" src="https://samb7201.github.io/PortfolioCSS/images/EM1.JPG" width="500" />
        <img class="img-fluid" id="P1-1" src="https://samb7201.github.io/PortfolioCSS/images/EM2.JPG" width="500" />

        <br />
        <br />

        <a style="font-size: 20px">
            Escape the Madman is an escape room game. It was created using HTML and JavaScript for the coding language. The goal is simple escape.
            Most of the rooms have some codes that you need to find all the while there is some key information you must find in order to truly escape.
            It is best to remeber what you believe may be useful because it may turn out remeber is the only way to win this.
        </a>

        <br />
        <br />

        <ul class="nav d-inline">
            <li style="padding:10px">
                <button>
                    <a href="https://youtu.be/HJD33zWNk14" target="_blank">YouTube Demo</a>
                </button>
            </li>
            <li style="padding:10px">
                <button>
                    <a href="https://github.com/SamB7201/EscapeTheMadman" target="_blank">GitHub Code</a>
                </button>
            </li>
        </ul>
    </div>
</div>