
@{
    ViewData["Title"] = "Project3";
}

<style>
    a {
        width: 500px;
        font-size: 25px;
        color: whitesmoke;
    }

    button {
        background-color: dodgerblue;
        border-radius: 15px;
    }
</style>

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>Create a Superhero - </h1>

    <div class="container-fluid">
        <img class="img-fluid" id="P2-1" src="https://samb7201.github.io/PortfolioCSS/images/P3-1.PNG" width="500" height="400" />
        <img class="img-fluid" id="P2-2" src="https://samb7201.github.io/PortfolioCSS/images/P3-2.PNG" width="500" height="400" />

        <br />
        <br />

        <a style="font-size: 20px">
            Create a Superhero was an assignment where I had to create a website that allowed the user to obviously create their own superhero.
            The user could choose their Name, Place of Origin, two powers, one weakness, and a color that relates to their hero. Then a screen
            would display their hero's character traits they selected, and on another display every hero they created so far.
        </a>

        <br />
        <br />

        <ul class="nav d-inline">
            <li style="padding:10px">
                <button>
                    <a href="https://youtu.be/A-aDVI64Reg" target="_blank">YOUTUBE</a>
                </button>
            </li>
        </ul>
    </div>
</div>