
@{
    ViewData["Title"] = "Project2";
}

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>Game Cheats - </h1>

    <div class="container-fluid">
        <img id="P2-1" src="https://samb7201.github.io/PortfolioCSS/images/P2-1.PNG" width="500" height="400" />
        <img id="P2-2" src="https://samb7201.github.io/PortfolioCSS/images/P2-2.PNG" width="500" height="400" />

        <br />
        <br />

        <a style="font-size: 20px">
            Game Cheats is a website designed to hold Cheat codes and sort them out so they are easy for users to find.
            Ways to use Game Cheats is to type in the name of the cheat code or a word that describes the what the cheat does
            to display a filtered list of cheats related to what the user typed. The user can also add their own cheat code they found,
            and edit and delete that cheat later on. Another way to filter is by platform so only PC cheats show up or PlayStation.
        </a>

        <br />
        <br />

        <ul class="nav d-inline">
            <li style="padding:10px">
                <a>This pjoect does not have a GitHub Repository because the code requires a database that only I can access to use.</a>
            </li>
            <li style="padding:10px">
                <button>
                    <a href="https://github.com/SamB7201/PortfolioCSS/blob/main/images/P2-1.PNG" target="_blank">YOUTUBE</a>
                </button>
            </li>
        </ul>
    </div>
</div>