
@{
    ViewData["Title"] = "Project1";
}

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>Colony Infestation - Game Development 2</h1>

    <div class="container-fluid">
        <img class="img-fluid" id="P1-1" src="https://samb7201.github.io/PortfolioCSS/images/P1-1.PNG" width="500" height="400" />
        <img class="img-fluid" id="P1-2" src="https://samb7201.github.io/PortfolioCSS/images/P1-2.PNG" width="500" height="400" />

        <br/>
        <br/>

        <a style="font-size: 20px">
            Colony Infestation is a short top-down shooter game that I created in my Game Development 2 class.
            The story is about the player crash landing on Mars and must figuer out what happened to the Mars Colony.
            The game has multiple objectives to complete which is displayed in the top right of the player's screen.
            There is also a Health System and enemys that attack and follow the player.
        </a>

        <br/>
        <br/>

        <ul class="nav d-inline">
            <li style="padding:10px">
                <button>
                    <a href="https://github.com/SamB7201/PortfolioCSS/blob/main/images/P1-1.PNG" target="_blank">GITHUB</a>
                </button>
            </li>
            <li style="padding:10px">
                <button>
                    <a href="https://github.com/SamB7201/PortfolioCSS/blob/main/images/P1-1.PNG" target="_blank">YOUTUBE</a>
                </button>
            </li>
        </ul>
    </div>
</div>