
@{
    ViewData["Title"] = "TextAdv";
}

<style>
    a {
        font-size: 25px;
        color: whitesmoke;
    }

    button {
        background-color: dodgerblue;
        border-radius: 15px;
    }
</style>

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>The Demon King's Dungeon - Java</h1>

    <div class="container-fluid">
        <img class="img-fluid" id="P1-2" src="https://samb7201.github.io/PortfolioCSS/images/TA2.jpg" width="300" />
        <img class="img-fluid" id="P1-1" src="https://samb7201.github.io/PortfolioCSS/images/TA1.PNG" width="600" />

        <br />
        <br />

        <a style="font-size: 20px">
            The Demon King's Dungeon WAS a short game that only had some dialog and ten waves of enemies with a class system.
            But as I developed it I started over changing it from C# to Java adding things like a Dungeons and Dragons based quiz.
            Boss fights that could Attack, Defend, And use a special skill against you. I also added some class specific dialog.
            And multiple endings based on a single decision. I had a lot of fun with it since it was kind of the first game I created and could update.
        </a>

        <br />
        <br />

        <ul class="nav d-inline">
            <li style="padding:10px">
                <button>
                    <a href="https://youtu.be/Y2_hYqxlpBE" target="_blank">YouTube Demo</a>
                </button>
            </li>
            <li style="padding:10px">
                <button>
                    <a href="https://github.com/SamB7201/Text-Adventure" target="_blank">GitHub Code</a>
                </button>
            </li>
        </ul>
    </div>
</div>