
@{
    ViewData["Title"] = "Unity Game";
}

<style>
    a {
        font-size: 25px;
        color: whitesmoke;
    }

    button {
        background-color: dodgerblue;
        border-radius: 15px;
    }
</style>

<div class="text-center" style="font-family:'Book Antiqua'">
    <h1>Explorer of The Abyss - C#</h1>

    <div class="container-fluid">
        <img class="img-fluid" id="P1-2" src="https://samb7201.github.io/PortfolioCSS/images/UG1.PNG" width="500" />
        <img class="img-fluid" id="P1-1" src="https://samb7201.github.io/PortfolioCSS/images/UG2.PNG" width="500" />

        <br />
        <br />

        <a style="font-size: 20px">
            This game is a simple 2D platformer with that has aspects that could be related to Mario. 
            For instance Wall jumping, enemies that patrol, and some traps. 
            It has it's own features to it such as enemy turret that tracks the players movement, 
            and gates that need small keys collected to open.
        </a>

        <br />
        <br />

        <ul class="nav d-inline">
            <li style="padding:10px">
                <button>
                    <a href="https://youtu.be/DJ-jlU1FAJs" target="_blank">YouTube Demo</a>
                </button>
            </li>
            <li style="padding:10px">
                <button>
                    <a href="https://github.com/SamB7201/Abyss-Explorer" target="_blank">GitHub Code</a>
                </button>
            </li>
        </ul>
    </div>
</div>